<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>途悦</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../assets/css/layout.css">
    <!-- <link rel="stylesheet" href="../assets/css/bootstrap.css"> -->

</head>
	
<body>
	<header>
    	<a href="javascript:history.go(-1);" title=""><img src="../assets/images/icon_03.png"> 返回</a>
    	<p></p>
    </header>

    <div class="article_con">
    	<div class="article_head">
    		<h4>豆瓣背后的鬼才导演</h4>
    		<span>本文来自途悦的小伙伴 youxdd00</span>
    	</div>
    	<div class="article_body">
    		<img src="../assets/images/article_pic_03.png" alt="">
    		<p>本文来自途悦的小伙伴豆瓣背后的鬼才导演本文来自途悦的小伙伴豆瓣背后的鬼才导演本文来自途悦的小伙伴豆瓣背后的鬼才导演本文来自途悦的小伙伴豆瓣背后的鬼才导演本文来自途悦的小伙伴豆瓣背后的</p>
    		<img src="../assets/images/article_pic_03.png" alt="">
    		<p>本文来自途悦的小伙伴豆瓣背后的鬼才导演本文来自途悦的小伙伴豆瓣背后的鬼才导演本文来自途悦的小伙伴豆瓣背后的鬼才导演本文来自途悦的小伙伴豆瓣背后的鬼才导演本文来自途悦的小伙伴豆瓣背后的</p>
    	</div>
    </div>

	<footer>
	    <div class="read_index_foot">
	        <a href="index.html" title="" class="foot_font_le">
	            首页
	        </a>
	        <a href="" title="" class="foot_font_ri">
	           个人中心
	        </a>
	    </div>
	    
	</footer>


<!-- <script src="../assets/js/jquery.js"></script>
<script src="../assets/js/bootstrap.js"></script> -->
</body>
</html>