/* Write your styles */
#preview{
	margin-top: 15px;
}
.upload-add{
	margin-top:10px;
}
.am-g .acadd ,.acadd{
	margin-left: 15px!important;
}
footer{
	text-align:center;
	position:fixed;
	width:100%;
	bottom:0;
	text-align: center;
}
.admin-content{
	padding-bottom: 10%;
}
.del{
	color:#dd514c!important;
}
.cm{
	margin: 0 15px;
}
.userimg{
	width:8rem;
}
section .am-panel-bd{
	display:inline-block;
	width:100%;
}