/* Write your styles */
#preview{
	margin-top: 15px;
}
.upload-add{
	margin-top:10px;
}
.am-g .acadd ,.acadd{
	margin-left: 15px!important;
}
footer{
	position: fixed;
	bottom: 0;
	width: 100%;
	left: 0;
	text-align: center;
}
.admin-content{
	padding-bottom: 10%;
}