/* Write your styles */
#preview{
	margin-top: 15px;
}
#preview img{
	max-width:100%;

}
.upload-add{
	margin-top:10px;
}
.am-g .acadd ,.acadd{
	margin-left: 15px!important;
}
footer{
	    position: absolute;
    top: 100%; 
	width:100%;
	text-align: center;
}
.admin-content{
	padding-bottom: 10%;
}
.del{
	color:#dd514c!important;
}
.cm{
	margin: 0 15px;
}
.userimg{
	width:6rem;
}
.userimg2{
	width:8rem;
}
section .am-panel-bd{
	display:inline-block;
	width:100%;
}
.amlogo{
    padding: 15px 10px!important;
}
.amlogo img{
	width:15rem;
	margin-left: 1.2rem;
}
#topbar-collapse{
	padding: 10px;
}
.am-topbar{
	background:rgba(125, 123, 123, 0.88);
}
.am-topbar a{
	color:white;
}
.am-topbar a:hover,.am-topbar a:focus{
	background:none!important;
}
.admin-content .am-g{
	width:96%;
}
 #content{
  width: 98%;
    margin: auto;
 }
 .am-input-group-btn {
    left: -9rem;
}
.amst td{
	border:none;
}
.amst td .am-btn-toolbar{
	margin-top:2rem;
}
.info{
	border: 1px solid rgba(0,0,0,0.1);
    border-radius: 5px;
    padding: 20px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}
