.wx_input{

}
.wx_type_img{
	position: relative;
}
.wx_type_img input{
	
}
.wx_type_img img{
	max-width: 100%;
	max-height: 100px;
}
.wx_type_img div#preview{
	margin: 0;
}
.wx_input input[type="text"],.wx_input input[type="url"]{
	width: 80%;

}
.wx_type_img input#imgUpload{
	margin: 0;
	cursor: pointer;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	filter: alpha(opacity=0);
}
.wx_sub{
	margin-top: 10px;
}
.del{
	color: #dd514c!important;
}
.wx_btn_txt input[type="text"],.wx_btn_txt input[type="url"]{
	width: 80%;
	padding: 3px 5px;
}

.wx_btn_txt .am-text-secondary,a.am-text-secondary:visited{
	color: #3bb4f2;
}
.wx_btn_txt .am-text-danger,a.am-text-danger:visited{
	color: #dd514c;
}
.wx_btn_txt a.am-btn{
	background-color: white;
}
.wx_btn_txt .am-btn-default:focus,.wx_btn_txt .am-btn-default:hover{
	background-color: #d4d4d4;
}
.wx_img{
	padding-top: .6em;
}







